body{
    margin-left: 10px;
}
#select{
border: 2px solid black;
}
 ::ng-deep .ng-select .ng-dropdown-panel .ng-option {
    margin-top: 3px;
    border-radius: 13px;
    
    text-align: center;
    background-color: #80808030 !important;
    height: 35px;
    line-height: 35px;             
}
::ng-deep .ng-select .ng-dropdown-panel .ng-option:hover {
    background-color: #b0b0b0 !important; 
} 
::ng-deep .ng-dropdown-panel .scroll-host {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
    margin-top: 10px;
    -webkit-overflow-scrolling: touch;
}
::ng-deep .mat-snack-bar-container {
    background-color: green !important;
    color: white !important;
  }
  
   body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #fff;
}
.payslip {  
  border: 1px solid #000;
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}
.payslip th, .payslip td {
  border: 1px solid #000;
  padding: 6px 10px;
  font-size: 13px;
}
.payslip th {
  background-color: #e8f0fe;
  text-align: left;
}
.header {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #1a237e;
}
.sub-header {
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
}
.section-title {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
}
.amount {
  text-align: right;
}
.total-row {
  background-color: #f8eaea;
  font-weight: bold;
}
.footer-note {
  background-color: #dfe9f3;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #000;
}

