body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.chat-wrapper {
  display: flex; 
  height: 100%;
}

.chat-person {
  display: flex;
  flex-direction: column;
  height: 450px;
  border: 2px solid #2ae1a8;
  width: 295px; 
  border-radius: 23px;
  background-color: #fff;
  margin: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 450px;
  border: 2px solid #1f83c1;
  max-width: 800px;
  background-color: #fff;
  margin: 20px;
  border-radius: 23px;
  flex: 1; 
}

.messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.message-container {
  display: flex;
  width: 100%;
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message.right {
  margin-left: auto;
  background-color: #d4f1f9;
  text-align: right;
}

.message.left {
  margin-right: auto;
  background-color: #f1f0f0;
  text-align: left;
}

.input-form {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  gap: 10px;
}

input {
  flex: 1;
  height: 46px;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 10px;
}

button {
  height: 46px;
  padding: 0 20px;
  border-radius: 12px;
}
.person-item{
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid orange;
  background-color: deepskyblue;
  align-items: center;
  margin-left: 25px;
}
.no-list-style {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}
h1{
  margin-left: 25px;
}
.profile {
  padding: 10px;
  border: 2px solid orange; 
  color: rgb(0, 0, 0); 
  height: auto; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  border-radius: 30px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

emoji-mart {
  display: inline-block;
  margin: auto;
}


.emoji-picker-container {
  position: absolute; 
  bottom: 70px; 
  left: 0;
  right: 0;
  z-index: 1000; 
  overflow-y: auto; 
  max-height: 300px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 12px;
  margin-left: 670px;
  width: 500px;
}

p {
  font-size: 1.5em;
  font-weight: bold;
}