#back{
  margin-left: 600px;
  float: left;
}
#next{
  margin-right: 620px;
   float: right;
}
#submit{
  margin-left: 30px;
  float: left;
}
.title{
  text-align: center;
  width: 350px;
  margin: 6px;
  margin-left: 650px;
  margin-top: 10px;
}
.heading{
  margin-top: 200px;
  width: 350px;
  margin: 6px;
  margin-left: 500px;
}
main{
  margin-top: 100px;
}
.demo {
  display: inline-block;
  width: 350px;
  height: 585px;
  margin: 6px;
  margin-left: 290px;
  margin-top: 10px;
}
#nts{
  text-align: center;
  margin-left: 50px;
}
#tdesc{
  text-align: center;
  margin-left: 50px;
}
#ttitle{
  text-align: center;
  margin-left: 50px;
}
#stime{
  text-align: center;
  margin-left: 50px;
}
#etime {
  text-align: center;
  margin-left: 50px;
}
#cancel{
  float:right;
  margin-right:30px;
}
#update{
  margin-left: 30px;
  float: left;
}
#assignto{
  text-align: center;
  margin-left: 50px;
}
