.container {
    display: flex;
  }
  
  .sidebar {
    width: 250px; 
    background-color: #f4f4f4; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
  }
  
  .mainbar {
    flex: 1; 
    padding: 20px; 
    background-color: #fff; 
  }
  
