<div class="topbar">
  <div class="logo">
    <img src="/assets/sociallogo.png" alt="Social Logo">
    <span style="margin-left: 20px;cursor: pointer;" (click)="dashboard()">🏠 Dashboard</span>
  </div>
  
  <div class="nav-links">
    <ul>
      <li *ngFor="let module of modules" 
          (mouseenter)="sendModuleCode(module.modulecode)"
          (mouseleave)="clearModuleCode()">
        {{ module.modulename }}
        
        <ol *ngIf="hoveredModuleCode === module.modulecode" class="dropdown">
          <li *ngFor="let form of forms">
            <a [routerLink]="form.redirect === '/profile/profile' ? ['/profile/profile', LuserId] : [form.redirect]" 
               routerLinkActive="active-link">{{ form.formname }}</a>
          </li>
        </ol>
      </li>
    </ul>
  </div>
  

  <div class="user-info">
    <h3>Welcome Back !!</h3><span style="color: aquamarine;margin-top: -20px;">{{ username }}</span>
    <h3>Date: {{ currentDate }}</h3>
    <h3>Time: {{ currentTime }}</h3>
    <a class="logout" style="cursor: pointer;" (click)="logout()">🚪 Logout</a>
  </div>
</div>
