.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  border: 2px solid blue;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  flex: 1;
  max-width: 47%;
  min-height: 300px; /* Ensures consistent height for all cards */
  display: flex;
  flex-direction: column;
}



.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
td{
  text-align: center;
}
