<div class="cards-container">
  <!-- Left Card -->
  <div class="card"   style="margin-left: 256px;">
    <div class="card-body">
      <h5 class="card-title">Login Data Chart</h5>
      <canvas baseChart 
              [data]="loginData" 
              [options]="chartOptions" 
              [type]="'line'">
      </canvas>
    </div>
  </div>
  <!-- Right Card -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Last Login List</h5>
      <div class="table-container">
        <table id="tab" class="table table-striped table-bordered" style="width: 100%;">
          <thead>
            <tr>
              <th style="background: rgb(132, 221, 120);">UserId</th>
              <th style="background: rgb(132, 221, 120);">UserName</th>
              <th style="background: rgb(132, 221, 120);">Login Date/Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lastloginlist">
              <td>{{ item.userid }}</td>
              <td>{{ item.username }}</td>
              <td>{{ item.lastloging }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="cards-container">
  <!-- Left Card -->
  <div class="card" style="margin-left: 256px;">
    <div class="card-body">
      <h5 class="card-title">Chat Data Chart</h5>
      <canvas baseChart 
              [data]="chatData" 
              [options]="chartOptions" 
              [type]="'bar'">
      </canvas>
    </div>
  </div>
  <!-- Right Card -->
   <!--<div class="card">
    <div class="card-body">
      <h5 class="card-title">Last Login List</h5>
      <div class="table-container">
        <table id="tab" class="table table-striped table-bordered" style="width: 100%;">
          <thead>
            <tr>
              <th style="background: rgb(132, 221, 120);">UserId</th>
              <th style="background: rgb(132, 221, 120);">UserName</th>
              <th style="background: rgb(132, 221, 120);">Login Date/Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lastloginlist">
              <td>{{ item.userid }}</td>
              <td>{{ item.username }}</td>
              <td>{{ item.lastloging }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> 
  </div>-->
</div>