#back{
    margin-left: 600px;
    float: left;
 }
 #next{
    margin-right: 620px;
     float: right;
 }
 #submit{
    margin-left: 30px;
    float: left;
 }
 .title{
    text-align: center;
    width: 350px;
    margin: 6px;
    margin-left: 650px;
    margin-top: 10px;
  }
  .heading{
    margin-top: 200px;
    width: 350px;
    margin: 6px;
    margin-left: 500px;
  }
  main{
    margin-top: 100px;
  }
  .demo {
    display: inline-block;
    width: 350px;
    height: 550px;
    margin: 6px;
    margin-left: 290px;
    margin-top: 10px;
  }
  #nts{
    text-align: center;
    margin-left: 50px;
  }
  #age{
    text-align: center;
    margin-left: 50px;
  }
  #dob{
    text-align: center;
    margin-left: 50px;
  }
  #name{
    text-align: center;
    margin-left: 50px;
  }
  #email {
    text-align: center;
    margin-left: 50px;
  }
  .male{
    text-align: center;
    margin-top: 30px;
  }
  .female{
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
  }
  #cancel{
    float:right;
    margin-right:30px;
  }
  #update{
    margin-left: 30px;
    float: left;
  }
