<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> 

<body>
<div *ngIf="isList">
  <div style="display: flex; align-items: center; gap: 10px;">
    <span (click)="openAddUserrights()" style="cursor: pointer;">➕</span>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search"
      (input)="filterTable()"
      class="form-control"
      style="margin-bottom: 10px; width: 300px;"
    />
  </div> 
   <div class="table-container">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th style="background: rgb(224, 81, 174);text-align: center;">User Id</th>
          <th style="background: rgb(224, 81, 174);text-align: center;">User Name</th>
          <th style="background: rgb(224, 81, 174);text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (filteredData?.length ? filteredData : pagedUserRights)">
          <td style="text-align: center;">{{ item.userid }}</td>
          <td style="text-align: center;">{{ item.username }}</td>
          <td  style="text-align: center;"><button class="btn btn-primary" style="background: transparent; border: none;" (click)="editUserrights(item)"><span>✏️</span></button><button class="btn btn-primary" style="background: transparent; border: none;" (click)="viewUserrights(item)"><span>👁️</span></button><button class="btn btn-primary" style="background: transparent; border: none;"(click)="deleteUserrights(item)"><span>🗑️</span></button></td>
        </tr> 
      </tbody>
    </table>
    <footer class="panel-footer panel-footer-list" style="background-color: #e2e2e2;">	
        <div class="row" style="margin-left: 483px;">
          <div class="col-sm-12 col-md-7">
            <div class="pagination" *ngIf="numPages > 1">
              <ul class="pagination pagination-bottom">
                <li class="footable-page-arrow" [ngClass]="{'disabled': currentPage === 1}">
                  <a (click)="selectPage(1)">
                    <span class="text-info">⏪</span>
                </a>
                </li>
                <li class="footable-page-arrow" [ngClass]="{'disabled': currentPage === 1}">
                  <a (click)="selectPage(currentPage - 1)">
                    <span class="text-info">⬅️</span>
                  </a>
                </li>
                <li class="footable-page active">
                  <input type="number" [(ngModel)]="currentPage" min="1" [max]="numPages" (change)="selectPage(currentPage)">
                </li>
                <li class="footable-page-arrow" [ngClass]="{'disabled': currentPage === numPages}">
                  <a (click)="selectPage(currentPage + 1)">
                    <span class="text-info">➡️</span>
                </a>
                </li>
                <li class="footable-page-arrow" [ngClass]="{'disabled': currentPage === numPages}">
                  <a (click)="selectPage(numPages)">
                    <span class="text-info">⏩</span>
                  </a>
                </li>
              </ul>
              <small class="inline m-t-sm m-b-sm"> Showing page {{currentPage}} of {{numPages}} </small>
            </div>
          </div>
        </div>
    </footer>
  </div>
</div>
<div *ngIf="! isList && !isView" >
 <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
  <div class="row align-items-center mb-2">
    <label class="col-sm-2 col-form-label text-end">Full Name:<span class="text-danger">*</span></label>
    <div class="col-sm-3">
      <ng-container *ngIf="!isEdit" > 
      <ng-select 
      style="border: 2px solid blue; border-radius: 5px;height: 35px;"
      formControlName="username"
      [items]="userList"
      bindLabel="username"
      bindValue="userid"
      [searchable]="true"
      [clearable]="true">
    </ng-select>
  </ng-container>
  <ng-container *ngIf="isEdit">
    <span>{{ adminForm.get('username')?.value }}</span>
  </ng-container>
    </div>
  </div>

  <div *ngIf="adminForm.get('username')?.valid && adminForm.get('username')?.value">
    <div class="table-container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th style="background: rgb(162, 88, 223);">Form Name</th>
            <th style="background: rgb(162, 88, 223);">All</th>
            <th style="background: rgb(162, 88, 223);">Create</th>
            <th style="background: rgb(162, 88, 223);">Read</th>
            <th style="background: rgb(162, 88, 223);">Update</th>
            <th style="background: rgb(162, 88, 223);">Delete</th>
          </tr>
        </thead>
        <tbody formArrayName="formdetaillist">
          <tr *ngFor="let group of formdetaillistArray.controls; let i = index" [formGroupName]="i">
            <td>{{ group.get('formname')?.value }}</td>
            <td>
              <input type="checkbox" formControlName="all" (change)="toggleAll(i)">
            </td>
            <td>
              <input type="checkbox" formControlName="create" [disabled]="group.get('all')?.value">
            </td>
            <td>
              <input type="checkbox" formControlName="read" [disabled]="group.get('all')?.value">
            </td>
            <td>
              <input type="checkbox" formControlName="update" [disabled]="group.get('all')?.value">
            </td>
            <td>
              <input type="checkbox" formControlName="delete" [disabled]="group.get('all')?.value">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th style="background: rgb(162, 88, 223);">Module Code</th>
            <th style="background: rgb(162, 88, 223);">Module Name</th>
            <th style="background: rgb(162, 88, 223);">Rights</th>
          </tr>
        </thead>
        <tbody formArrayName="moduledetaillist">
          <tr *ngFor="let group of moduledetaillistArray.controls; let i = index" [formGroupName]="i">
            <td>{{ group.get('modulecode')?.value }}</td>
            <td>{{ group.get('modulename')?.value }}</td>
            <td><input type="checkbox" formControlName="rights" [disabled]="group.get('rights')?.value"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center mt-4" style="margin-left: -274px;">
    <button type="submit" *ngIf="!isEdit"class="btn btn-success" [disabled]="!adminForm.valid">Save</button>
    <button type="submit"  *ngIf="isEdit" class="btn btn-success" [disabled]="!adminForm.valid">Update</button>
    <button class="btn btn-danger" (click)="cancel()" style="margin-left:10px;">cancel</button><br>
  </div>
</form>
</div>
<div *ngIf="isView">
  <div class="row mb-3">
    <div class="col-md-3 font-weight-bold" id="gridhead"><b>Full Name</b></div>
    <div class="col-md-3">{{ adminForm.get('username')?.value || 'N/A' }}</div>
  </div>
  <div class="table-container">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th style="background: rgb(235, 206, 89);">Form Name</th>
          <th style="background: rgb(235, 206, 89);">All</th>
          <th style="background: rgb(235, 206, 89);">Create</th>
          <th style="background: rgb(235, 206, 89);">Read</th>
          <th style="background: rgb(235, 206, 89);">Update</th>
          <th style="background: rgb(235, 206, 89);">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let view of userRightsview">
          <td style="text-align: center;">{{ view.formname }}</td>
          <td style="text-align: center;">{{ view.all }}</td>
          <td style="text-align: center;">{{ view.create }}</td>
          <td style="text-align: center;">{{ view.read }}</td>
          <td style="text-align: center;">{{ view.update }}</td>
          <td style="text-align: center;">{{ view.delete }}</td>
        </tr> 
      </tbody>
    </table>
  </div>
  <button class="btn btn-danger" (click)="cancel()" style="margin-left:10px;">cancel</button><br>
</div>
</body>
 